<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="bg-gray-50 text-gray-900">
<main class="container mx-auto flex flex-col items-center justify-center">

    <form action="/recherche" method="get">
        <div class="max-w-7xl mx-auto flex">
            <label class="flex-grow">
                <input class="w-full p-3 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                       name="q" placeholder="Rechercher un établissement" required
                       th:value="${q}" type="text">
            </label>
            <button class="bg-blue-600 text-white px-5 rounded-r-md">Rechercher</button>
        </div><!--formulaire-->
    </form>

</main>
</body>
</html>