<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>

<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-cyan-100 text-cyan-800"></div>
<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-amber-100 text-amber-800"></div>
<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-indigo-100 text-indigo-800"></div>
<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-pink-100 text-pink-800"></div>
<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-orange-100 text-orange-800"></div>
<div class="inline-flex items-center px-3 py-1 rounded-full text-sm bg-green-100 text-green-800"></div>
</body>