<th:block th:fragment="footer">
    <footer class="bg-indigo-600 border-t p-4 text-white">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-end text-sm gap-2">
                <div class="flex flex-wrap gap-4 md:gap-6">
                    <a class="text-white hover:text-gray-200 transition-colors" href="/a-propos">À propos</a>
                    <a class="text-white hover:text-gray-200 transition-colors" href="/mentions-legales">Mentions
                        légales</a>
                    <a class="text-white hover:text-gray-200 transition-colors" href="https://github.com/ggasnier/education-annuaire" target="_blank" rel="noopener noreferrer">
                        GitHub
                    </a>
                </div>
            </div>
        </div>
    </footer>
</th:block>