<!DOCTYPE html>
<html lang="fr" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script defer th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" th:href="@{/favicon.svg}" type="image/svg+xml"/>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KMTB5LQX');</script>
</head>

<body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col">
<noscript>
    <iframe height="0"
            src="https://www.googletagmanager.com/ns.html?id=GTM-KMTB5LQX" style="display:none;visibility:hidden"
            width="0"></iframe>
</noscript>
<form action="/recherche" class="flex flex-col flex-1" method="get">
    <div th:replace="~{fragments/header :: header(critere=${critere})}"></div>
    <main class="max-w-7xl mx-auto w-full p-4 flex-1" x-data="{ mobileFilters: false }">
        <th:block layout:fragment="content">
        </th:block>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</form>
</body>

</html>